<div class="container my-3">
  <h1>Gráficos Dinámicos <small>Angular</small></h1>
  <hr>

  <div class="card-columns">
    <div class="card">
      <div class="card-body">
        <app-linea></app-linea>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <app-barra></app-barra>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <app-dona></app-dona>
      </div>
    </div>
    
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <app-radar></app-radar>
        </div>
      </div>
    </div>
  </div>
  
</div>
